<!DOCTYPE html>
<html>

<head>
    <title>My First Page</title>
</head>

<body>
    <h1>{{name}}</h1>
    <h1>This is a  HTML page.</h1>
<nav>
    <a href="{{route('web.index',{slug: 'leo'})}}">home page</a>
</nav>

</body>

</html>