<!DOCTYPE html>
<html>

<head>
  <title>My home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" contnt=""width=device-width, initial-scale="1">

  @vite(['resources/js/app.js'])
</head>

<body>

  <h1>This is a slug HTML page.</h1>
  <nav>
    <a href="{{route('web.index',{slug: 'mangatha'})}}">home page</a>
  </nav>
  {{{movie}}}
</body>

</html>